html, body {
  height: 100%;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

#header {
  width: 100vw;
  height: 4vh;
}

#map-info-wrapper {
  display: flex;
  width: 100vw;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

#itinerary-wrapper {
  display: flex;
  width: 100vw;
  height: 11vh;
  box-sizing: border-box;
  padding: 1em;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya', serif;
}

#info-itinerary {
  width: calc(70vh / 0.6336666666667);
  font-size: 1.05em;
  font-style: italic;
  text-align: center;
}

#info-current, #info-final {
  width: calc((96vw - (85vh / 0.6336666666667)) / 2);
  margin: 1vw;
  text-align: center;
}

#info-current-header, #info-final-header {
  font-size: 1.1em;
  /*text-decoration: underline;*/
  font-style: italic;
}

#info-current-steps, #info-current-dist-mi, #info-current-dist-km, #info-final-steps, #info-final-dist-mi, #info-final-dist-km {
  font-size: 2.5em;
  font-weight: bold;
}

#info-current-steps-units, #info-current-dist-units-mi, #info-current-dist-units-km, #info-final-steps-units, #info-final-dist-units-mi, #info-final-dist-units-km {
  font-family: 'Alegreya Sans SC', sans-serif;
}

#map-world {
  /*position: relative;
  bottom: 1.8em;*/
  width: calc(85vh / 0.6336666666667);
  height: 85vh;
  background-image: url('./maps/path-small.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

