html, body {
  display: flex;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#info-current, #info-final {
  width: calc((96vw - (85vh / 0.6336666666667)) / 2);
  margin: 1vw;
  text-align: center;
}

#map-world {
  position: relative;
  bottom: 1.8em;
  width: calc(85vh / 0.6336666666667);
  height: 85vh;
  background-image: url('./maps/path-small.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

